<configuration>  
    
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">  
        <url>https://logs-prod-021.grafana.net/loki/api/v1/push</url>  
        <http>  
            <auth>  
                <username>1348666</username>  
                <password>glc_eyJvIjoiMTU0NzQyOSIsIm4iOiJkZXZmbG93LWxvZ3MtdG9rZW4iLCJrIjoidUYycWU5ZTVPNm1TUTFLYTZNVzY4MjBDIiwibSI6eyJyIjoicHJvZC11cy13ZXN0LTAifX0=</password>    
            </auth>  
        </http>  
        <format>  
            <label>  
                <pattern>job=devflow,app=springboot,host=${HOSTNAME},level=%level</pattern>  
            </label>  
            <message>  
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>  
            </message>  
        </format>  
    </appender>  

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>  
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>  
        </encoder>  
    </appender>  

    <root level="INFO">  
        <appender-ref ref="LOKI" />  
        <appender-ref ref="CONSOLE" />  
    </root>  
    
</configuration>  


